.user-card {
    display: flex;
    border: 1px solid;
    width: 29%;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    width: 28%;
}


.user-card img {
    width: 40%;
    object-fit: cover;
}

.user-card > div {
    width: 55%;
}